body{
    margin:0;
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    height:100vh;
    background:  linear-gradient(68.3deg, rgb(23, 41, 77,0.3) 6.3%, rgb(243, 113, 154) 90.9%);
}
.container{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    background: white;
    width:320px;
    margin:auto;
    margin-top: 200px;
    padding: 10px;
    border-radius: 30px;
    box-shadow: rgb(55, 82, 137) 0px 10px 20px -10px;
    
}

.welcome_img{
    width:300px;
    height:300px;
    margin:auto;
    

}

.header{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    width:100%;
    margin-top:20px;
}

.text{
    color:rgb(23, 41, 77,0.7) ;
    font-weight: 500;
    font-size: 45px;
    text-align: center;
    transition: 0.5s;
    
}

.underline{
    width: 60px;
    height: 5px;
    background: rgb(240, 147, 176) ;
    border-radius: 5px;

    
}

.inputs{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}

.input{
    display: flex;
    margin: auto;
    margin-bottom: 25px;
    width:250px;
    height:40px ;
    align-items: center;
    background-color:none;
    border-radius: 25px;
    box-shadow: rgb(55, 82, 137,0.7) 0px 10px 20px -10px,
    rgb(55, 82, 137,0.7) -1px -1px 15px -12px;
}


img{
    margin: 0px 20px;
    height:18px;
    width:20px;

   
}

.input input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 13px;
    height: 50px;
    width: 200px;
    color:rgba(23, 41, 77, 0.7);
    
    
}

.forgot-password{
    border:none;
    background-color: transparent;
    color:darkgray;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin-left: 135px;
    font-size:12px ;
    margin-bottom:2px;
    margin-top: 2px;
    
}



.submit-container{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap:10px;
    margin: 30px;
    
    

}

.submit{
    display:flex;
    justify-content: center;
    align-items: center;
    width: 110px;
    height: 30px;
    color:white;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.5px;
    background: linear-gradient(to right , rgb(23, 41, 77,0.3) , rgb(243, 113, 154) 90.9%);
    box-shadow: rgb(55, 82, 137,0.7) 0px 10px 15px -20px,
    rgba(0,0,0,0.5) 0px 4px 6px -2px;
    border:none;
    border-radius: 20px;
    cursor:pointer;
    transition: 0.3s;
    font-family: Georgia, 'Times New Roman', Times, serif;
    
    
}

.submit:active{
    box-shadow: rgba(0,0,0,0.1) 3px 3px 6px 3px inset;
}

.info{
    color:rgb(139, 138, 138);
    font-size: 12px;
    
}

.info button{
    border:none;
    color: rgb(249, 99, 146);
    font-weight: 600;
    font-size: 12px;
    background: none;
    cursor: pointer;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}

.errorMsg{
    color:rgb(249, 99, 146);
    font-size: small;
    font-weight: 500;
    margin-bottom: 5px;
    padding-left: 40px;


}